/*FONTES*/
@font-face{
    font-family: "FontBalcanica1";
    src: url("/font/Tamtome-nA5K1.otf") format("opentype");
}
@font-face{
    font-family: "FontBalcanica2";
    src: url("/font/RothenburgDecorative.ttf") format("truetype");
}
@font-face{
    font-family: "FontBalcanica3";
    src: url("/font/MirethMonogram-9MVL2.ttf") format("truetype");
}



/*RESTO*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgba(0, 0, 0, 0.797);
    background-image: url("/images/Untitled.jpg") ;
    background-size: cover;
    background-blend-mode: soft-light;
    height: 100vh;
    width: 100vw;
}


header{
    display: flex;
    justify-content: center;
    gap: 20%;
}

main{
    height: 100vh;
    width: 100vw;

}

.botoes{
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    margin-top: 400px;
    gap: 10%;
    background-color: rgba(0, 0, 0, 0.811);
}
.botoes > button{
    margin: auto;
    height: 100px;
    width: 500px;
    border: none;
    outline: none;
    font-size: 26px;
    font-family: "FontBalcanica2";
    transition: all 1s ease;
}
.botoes > button:first-child{
    background-color: rgb(69, 151, 91);
    border: 10px solid red;
    border-radius: 50%;
    color: yellow;
}
.botoes > button:last-child{
    background-color: rgb(255, 0, 0);
    background-image: url("/images/tungvstralalero.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-blend-mode: hard-light;
    color: white;
    border-radius: 50%;
    border: 10px solid purple;
}
.botoes > button:hover{
    transform: scale(1.1);
}

.easteregg{
    position: absolute;
    top: 28.5%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes animacaotextobalcanico{
    0{
        transform: scale(1) rotate(-5deg);
    }
    50%{
        transform: rotate(20deg) scale(1.4);
        
    }
    100%{
        transform: scale(1) rotate(-5deg);
    }
}
@keyframes glitch{
    0{
        color: red;
    }
    50%{
        color: rgb(104, 255, 3);
    }
    100%{
        color: rgb(0, 166, 255);

    }
}
.titulo{
    width: 100%;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: rgb(255, 0, 0);
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    bottom: 200px;
    animation: glitch 0.2s ease 0s infinite;
    font-weight: bolder;
}
.divTitulo{
    animation: animacaotextobalcanico 1s ease 0s infinite;

}